{% extends "base.html" %}

{% block content %}
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<h4>Instructions for resetting your password have been sent to the e-mail address you submitted.</h4>
</div>
{% endblock %}