{% extends "base.html" %}

{% block content %}
<h3>Please specify your email address to receive instructions for resetting it.</h3>

<form action="" method="post" class="form-horizontal">
{% include 'BMS_App/form_snippet.html' %}
	<div class="controls"><input type="submit" value="Submit" /></div>
</form>
{% endblock %}