{% extends "base.html" %}

{% block content %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">x</button>
	<h4>Password reset successfully.</h4>
</div>

<div style="text-align:center"><a class="btn btn-primary" href="{% url 'tech_login' %}">Login</a><div>
{% endblock %}