{% extends "base.html" %}
{% block content %}

<div>
<h2>{{status}} Backups</h2>
		
	<table class="table table-bordered table-hover">
	{% for backup in page_obj %}
			{% include "BMS_App/backup_snippet.html" with backup=backup %}
			<tr><td bgcolor=#6E6E6E colspan="4"></td></tr>
	{% endfor %}
	</table>
	{% include "BMS_App/pagination.html" with page=page_obj paginator=page_obj.paginator%}
</div>

{% endblock %}
