	{# Different formatting based on status #}
	{% if backup.status == "NEW" %}
	<tr class="success">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' backup.client.id %}">{{backup.client.name}}</a></td>
		<td><strong>Status:</strong></td>
		<td>{{backup.get_status_display }}</td>
	</tr>
	<tr class="success">
		<td><strong>Created:</strong></td>
		<td>{{ backup.created }}</td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{backup.ticket_number}}</td>
	</tr>
	<tr class="success">
		<td><strong>Updated:</strong></td>
		<td>{{ backup.updated }}</td>
		<td><a class="btn btn-primary btn-mini" href="{% url 'backup_view' backup.ticket_number %}">View Backup</a></td>
		<td><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">WHD Ticket</a></td>
	</tr>
	{% elif backup.status == "INP" %}
	<tr class="warning">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' backup.client.id %}">{{backup.client.name}}</a></td>
		<td><strong>Status:</strong></td>
		<td>{{backup.get_status_display }}</td>
	</tr>
	<tr class="warning">
		<td><strong>Created:</strong></td>
		<td>{{ backup.created }}</td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{backup.ticket_number}}</td>
	</tr>
	<tr class="warning">
		<td><strong>Updated:</strong></td>
		<td>{{ backup.updated }}</td>
		<td><a class="btn btn-primary btn-mini" href="{% url 'backup_view' backup.ticket_number %}">View Backup</a></td>
		<td><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">WHD Ticket</a></td>
	</tr>
	{% elif backup.status == "CLO" %}
	<tr class="info">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' backup.client.id %}">{{backup.client.name}}</a></td>
		<td><strong>Status:</strong></td>
		<td>{{backup.get_status_display }}</td>
	</tr>
	<tr class="info">
		<td><strong>Created:</strong></td>
		<td>{{ backup.created }}</td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{backup.ticket_number}}</td>
	</tr>
	<tr class="info">
		<td><strong>Updated:</strong></td>
		<td>{{ backup.updated }}</td>
		<td><a class="btn btn-primary btn-mini" href="{% url 'backup_view' backup.ticket_number %}">View Backup</a></td>
		<td><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">View WHD Ticket</a></td>
        </tr>
	{% elif backup.status == "ERR" %}
	<tr class="error">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' backup.client.id %}">{{backup.client.name}}</a></td>
		<td><strong>Status:</strong></td>
		<td>{{backup.get_status_display }}</td>
	</tr>
	<tr class="error">
		<td><strong>Created:</strong></td>
		<td>{{ backup.created }}</td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{backup.ticket_number}}</td>
	</tr>
	<tr class="error">
		<td><strong>Updated:</strong></td>
		<td>{{ backup.updated }}</td>
		<td><a class="btn btn-primary btn-mini" href="{% url 'backup_view' backup.ticket_number %}">View Backup</a></td>
		<td><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">View WHD Ticket</a></td>
        </tr>
        {% else %}
        <tr> 
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' backup.client.id %}">{{backup.client.name}}</a></td>
		<td><strong>Status:</strong></td>
		<td>{{backup.get_status_display }}</td>
	</tr>
	<tr>
		<td><strong>Created:</strong></td>
		<td>{{ backup.created }}</td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{backup.ticket_number}}</td>
	</tr>
	<tr>
		<td><strong>Updated:</strong></td>
		<td>{{ backup.updated }}</td>
		<td><a class="btn btn-primary btn-mini" href="{% url 'backup_view' backup.ticket_number %}">View Backup</a></td>
		<td><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">View WHD Ticket</a></td>
        </tr>

	{% endif %}
