{% extends "base.html" %}
{% block content %}
{% load BMS_extras %}
<table class="table">
<tr><td colspan=2><strong>Backup ID: {{ backup.id }}</strong></td></tr>
<tr><td colspan=2><strong>Status: {{ backup.get_status_display }}</strong></td></tr>
<tr><td colspan=2><strong>Location: {{ backup.backup_location }}</strong></td></tr>
<tr><td><strong>Created: {{ backup.created }}</strong></td><td><strong>Age: {{ backup.created|timesince }}</strong></td></tr>
<tr><td colspan=2><strong>Ticket Number: <a href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{backup.ticket_number}}" target="_blank">{{backup.ticket_number}}</a></strong></td></tr>
<tr>
<tr>
	<td><strong>Size: {{ backup.size_in_megabytes|convertToGB|floatformat:"-4" }} GB</strong></td>
	<td><a href="{% url 'restriction_create' backup.id%}" class="btn btn-primary">Add Restriction</a>
	<a href="{% url 'backup_edit' backup.id%}" class="btn btn-primary">Edit Backup</a></td>
</tr>
</table>

<div class="firstColumn">
	<table class="table table-bordered">
		<tr><th colspan="2" style="text-align:center">Client</th></tr>
		{% include "BMS_App/client_snippet.html" with client=backup.client %}
	</table>

	<div class="accordion" id="accordion1">
		<div class="accordion-group">
			<div class="accordion-heading">
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#restrictions" style="text-align:center;">Restrictions</a>
			</div>
			<div id="restrictions" class="accordion-body collapse in">
				<div class="accordion-inner">
						{% for restriction in restrictions %}
							<table class="table table-bordered">
									<tr class="warning">
										<td><strong>Don't Email Until:</strong></td>
										<td>{{ restriction.restrictContactsUntil }}</td>
									</tr>
									<tr class="warning">
										<td><strong>Created:</strong></td>
										<td>{{ restriction.created }}</td>
									</tr>
								<td colspan="2" style="text-align:center;"><a href="{% url 'restriction_delete' restriction.id%}" class="btn btn-danger">Delete Restriction</a></td>
							</table>
							{% if restrictions.count > 1%}
								<hr/>
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</div>
	</div>	
</div>	

<div class="secondColumn">
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#contacts" style="text-align:center;">Contacts</a>
			</div>
			<div id="contacts" class="accordion-body collapse in">
				<div class="accordion-inner">
						{% for contact in contacts %}
							<table class="table table-bordered">
								<tr class="success">
									<td><strong>Sent:</strong></td>
									<td>{{ contact.created }}</td>
								</tr>
							</table>
							{% if contacts.count > 1%}
								<hr/>
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="accordion" id="accordion3">	
		<div class="accordion-group">
			<div class="accordion-heading">
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#responses" style="text-align:center;">Responses</a>
			</div>
			<div id="responses" class="accordion-body collapse in">
				<div class="accordion-inner">
						{% for response in responses %}
							<table class="table table-bordered">
								{% if response.response == "KP" %}
									<tr class="success">
										<td><strong>Response:</strong></td>
										<td>{{response.get_response_display}}</td>
										<td><strong>Received:</strong></td>
										<td>{{ response.created }}</td>
									</tr>
									{% if response.justification %}
										<tr class="success">
											<td><strong>Justification:</strong></td>
											<td colspan=3>{{response.justification}}</td>	
										</tr>
									{% endif %}
								{% else %}
									<tr class="error">
										<td><strong>Response:</strong></td>
										<td>{{response.get_response_display}}</td>
										<td><strong>Received:</strong></td>
										<td>{{ response.created }}</td>
									</tr>
									{% if response.justification %}
										<tr class="error">
											<td><strong>Justification:</strong></td>
											<td colspan=3>{{response.justification}}</td>	
										</tr>
									{% endif %}
								{% endif %}
							</table>
							{% if responses.count > 1%}
								<hr/>
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}





