<tr>
	<td><strong>Name:</strong></td>
	<td><a href="{% url 'client_view' client.id%}">{{ client.name }}</a></td>
</tr>
<tr>
	<td><strong>Created:</strong></td>
	<td>{{ client.created }}</td>
</tr>
<tr>
	<td><strong>Updated:</strong></td>
	<td>{{ client.updated }}</td>
</tr>