{% extends "base.html" %}
{% block content %}

<div>
<h2>Search Results</h2>
	<table class="table table-bordered">
	<th style="text-align:center">Name</th>
	{% for client in clients_list%}
		{% if forloop.counter|divisibleby:2 %}
		<tr class="info">
		{% else %}
		<tr>
		{% endif %}
		
			<td><a href="{% url 'client_view' client.id%}">{{ client.name }}</a></td>
		</tr>
	{% endfor %}
	</table>
	{% include "BMS_App/pagination.html" with page=clients_list paginator=paginator%}
</div>

{% endblock %}
