{% extends "base.html" %}
{% block content %}

<div>
<h3>Search for client by name:</h3>
<form class="form-horizontal" action="{% url 'client_search' %}" method="post">
	{% include "BMS_App/form_snippet.html" %}	
	<div class="controls"><input type="submit" value="Search" /></div>
</form>
</div>

{% endblock %}
