{% extends "base.html" %}
{% block content %}
<h3>{{client.name}} <a href="{% url 'client_edit' client.id %}" class="btn btn-primary pull-right">Edit</a></h3>

<div class="firstColumn">
	<table class="table table-bordered">
		<tr><th colspan="2" style="text-align:center">Client</th><tr>
		{% include "BMS_App/client_snippet.html" %}
	</table>
</div>

<div class="secondColumn">
	<div class="accordion" id="accordion">	
		<div class="accordion-group">
			<div class="accordion-heading">
			  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#backups" style="text-align:center;">Backups</a>
			</div>
			<div id="backups" class="accordion-body collapse in">
				<div class="accordion-inner">
						{% for backup in backups %}
							<table class="table table-bordered">
								{% include "BMS_App/backup_snippet.html" with backup=backup%}
							</table>
							{% if backups.count > 1%}
								<hr/>
							{% endif %}
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
