{% extends "base.html" %}
{% block content %}
<h3>Update Client</h3>
<form class="form-horizontal" action="{% url 'client_edit' client.id %}" method="post">
	{% include "BMS_App/form_snippet.html" %}	
	<div class="controls"><input type="submit" value="Save" /></div>
</form>
{% endblock %}
