{% extends "base.html" %}
{% block content %}
<h3>Contact: {{ contact.id }}</h3>

<div class="firstColumn">
<table class="table table-bordered">
	{% include "BMS_App/contact_snippet.html" %}
</table>
</div>
{% endblock %}
