
	<tr>
		<td><strong>ID:</strong></td>
		<td><a href="{% url 'contact_view' contact.id %}">{{contact.id}}</a></td>
	</tr>
	<tr>
		<td><strong>Sent:</strong></td>
		<td>{{ contact.created }}</td>
	</tr>
