{% extends "base.html" %}
{% block content %}

<div>
<h2>Contacts {%if startDate%} since {{ startDate }} {% endif %}</h2>
	<table class="table table-bordered">
	<th style="text-align:center">Date Received</th>
	<th style="text-align:center">Client</th>
	{% for contact in page_obj%}
		{% if forloop.counter|divisibleby:2 %}
			<tr class="info">
				<td><a href="{% url 'contact_view' contact.id%}">{{ contact.created }}</a></td>
				<td><a href="{% url 'client_view' contact.backup.client.id%}">{{ contact.backup.client.name }}</a></td>	
			</tr>
		{% else %}
			<tr>
				<td><a href="{% url 'contact_view' contact.id%}">{{ contact.created }}</a></td>
				<td><a href="{% url 'client_view' contact.backup.client.id%}">{{ contact.backup.client.name }}</a></td>	
			</tr>
		{% endif %}
	{% endfor %}
	</table>
	{% include "BMS_App/pagination.html" with page=page_obj paginator=page_obj.paginator%}
</div>

{% endblock %}
