{% csrf_token %}
{% if form.errors %}
<div class="alert alert-error"><h4>There was an error in the form.</h4></div>
{% endif %}

{% for field in form %}
	{% if field.errors %}
	<div class="control-group error">
	    <label class="control-label" for="{{ field.label}}">{{ field.label }}</label>
		<div class="controls">
		{{ field }}
		<span class="help-inline">{{ field.errors }}. {{ field.help_text }}</span>
		</div>
	</div>
	{% else %}
	<div class="control-group">
	    <label class="control-label" for="{{ field.label}}">{{ field.label }}</label>
		<div class="controls">
		{{ field }}
		<span class="help-inline">{{ field.help_text }}</span>
		</div>
    </div>
	{% endif %}
{% endfor %}


