{% load BMS_extras %}
<div class="pagination pagination-centered">
  <ul>
	{% if page.has_previous %}
		<li><a href="?page={{ page.previous_page_number }}">Prev</a></li>
	{% endif %}
	
	{% for i in page.number|get_page_range:4 %}
		{% if i != 1 and forloop.first %}
			<li><a href="?page={{ i|sub:1	}}">...</a></li>
		{% endif %}
		
		{%if page.number == i%}
			<li class="active"><a href="?page={{ i }}">{{i}}</a></li>
		{%else%}
			{% if i <= paginator.num_pages %}
			<li><a href="?page={{ i }}">{{i}}</a></li>
			{% endif %}
		{% endif %}
		
		{% if i < paginator.num_pages and forloop.last %}
			<li><a href="?page={{ i|add:1 }}">...</a></li>
		{% endif %}
		
		
	{% endfor%}
		
	{% if page.has_next %}
		<li><a href="?page={{ page.next_page_number }}">Next</a></li>
	{% endif %}
  </ul>
</div>