{% extends "base.html" %}
{% block content %}
<h3>Response: {{ response.id }}</h3>

<table class="table table-bordered">
	{% include "BMS_App/response_snippet.html" %}
</table>
{% endblock %}
