{% extends "base.html" %}
{% block content %}

<div>
<h2>Responses {%if startDate%} since {{ startDate }} {% endif %}</h2>
	<table class="table table-hover table-bordered">
	{% for response in page_obj%}	
			{% include "BMS_App/response_snippet.html" with response=response %}
			<tr><td bgcolor=#6E6E6E colspan="4"></td></tr>
	{% endfor %}
	</table>
	{% include "BMS_App/pagination.html" with page=page_obj paginator=page_obj.paginator%}
</div>
{% endblock %}