{% if response.response == "KP" %}
	<tr class="success">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' response.backup.client.id %}">{{response.backup.client.name}}</a></td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{ response.backup.ticket_number }}</td>
	</tr>
	<tr class="success">
		<td><strong>Response:</strong></td>
		<td>{{response.get_response_display}}</td>
		<td colspan=2 style="text-align:center" ><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{response.backup.ticket_number}}">View WHD Ticket</a></td>
	</tr>
	<tr class="success">
		<td><strong>Received:</strong></td>
		<td>{{ response.created }}</td>
		<td colspan=2 style="text-align:center" ><a class="btn btn-primary btn-mini" href="{% url 'backup_view' response.backup.ticket_number %}">View Backup</a></td>	
	</tr>
	{% if response.justification %}
		<tr class="success">
			<td><strong>Justification:</strong></td>
			<td colspan=3>{{response.justification}}</td>	
		</tr>
	{% endif %}
{% else %}
	<tr class="error">
		<td><strong>Client:</strong></td>
		<td><a href="{% url 'client_view' response.backup.client.id %}">{{response.backup.client.name}}</a></td>
		<td><strong>Ticket Number:</strong></td>
		<td>{{ response.backup.ticket_number }}</td>
	</tr>
	<tr class="error">
		<td><strong>Response:</strong></td>
		<td>{{response.get_response_display}}</td>
		<td colspan=2 style="text-align:center" ><a class="btn btn-primary btn-mini" href="https://helpdesk.wustl.edu/helpdesk/WebObjects/Helpdesk.woa/wa/TicketActions/view?ticket={{response.backup.ticket_number}}">View WHD Ticket</a></td>
	</tr>
	<tr class="error">
		<td><strong>Received:</strong></td>
		<td>{{ response.created }}</td>
		<td colspan=2 style="text-align:center" ><a class="btn btn-primary btn-mini" href="{% url 'backup_view' response.backup.ticket_number %}">View Backup</a></td>	
	</tr>
	{% if response.justification %}
		<tr class="error">
			<td><strong>Justification:</strong></td>
			<td colspan=3>{{response.justification}}</td>	
		</tr>
	{% endif %}
{% endif %}




