{% extends "base.html" %}
{% block content %}

<h3>Create restriction</h3>
<form class="form-horizontal" action="{% url 'restriction_create' backup.id%}" method="post">
	{% include "BMS_App/form_snippet.html" %}
	<div class="controls"><input type="submit" value="Add Restriction" /></div>
</form>
{% endblock %}
