	<tr>
		<td><strong>ID:</strong></td>
		<td><a href="{% url 'restriction_view' restriction.id %}">{{restriction.id}}</a></td>
	</tr>
	<tr>
		<td><strong>Backup ID:</strong></td>
		<td><a href="{% url 'backup_view' restriction.backup.id %}">{{ restriction.backup.id }}</td>
	</tr>
	<tr>
		<td><strong>Don't Email Until:</strong></td>
		<td>{{ restriction.restrictContactsUntil }}</td>
	</tr>
	<tr>
		<td><strong>Created:</strong></td>
		<td>{{ restriction.created }}</td>
	</tr>
