{% extends "base.html" %}
{% block content %}
<h3>Restriction: {{ restriction.id}}</h3>
<div class="firstColumn">
<table class="table table-bordered">
	{% include "BMS_App/restriction_snippet.html" with restriction=restriction %}
</table>
</div>
{% endblock %}
