{% extends "base.html" %}

{% block content %}
<h1>'Server Error <em>(500)</em>'</h1>
<p>There's been an error. It's been reported to the site administrators via email and should be fixed shortly. Thanks for your patience.</p>

{% endblock %}
