<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backup Management System</title>
    <meta name="description" content="ABNS">
    <meta name="author" content="Oliver Jones">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
	<link rel="stylesheet" type="text/css" href="{% static "BMS_App/css/base.css" %}" />
	<link rel="icon" href="{% static "BMS_App/favicon.ico" %}" type="x-icon" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
	<style type="text/css">
      #mainContainer
	  {
		margin-top: 3%
	  }
	</style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'home' %}">Backup Management System</a>
		  {% if user.is_authenticated %}
          <ul class="nav pull-right">
				  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Backups<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'backup_index'%}">All Backups</a></li>
							<li><a href="{% url 'backup_index' "INP"%}">In Progress</a></li>
							<li><a href="{% url 'backup_index' "NEW"%}">New</a></li>
							<li><a href="{% url 'backup_index' "CLO"%}">Closed</a></li>
							<li><a href="{% url 'backup_index' "ERR"%}">Errors</a></li>
						</ul>
					</li>
				  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'client_index'%}">All Clients</a></li>
							<li><a href="{% url 'client_search' %}">Search</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'contact_index' '24H'%}">Last 24 Hours</a></li>
							<li><a href="{% url 'contact_index' '1W'%}">Last Week</a></li>
							<li><a href="{% url 'contact_index' '2W'%}">Last 2 Weeks</a></li>
							<li><a href="{% url 'contact_index'%}">All</a></li>
						</ul>
					</li>
				  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Responses<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'response_index' '24H'%}">Last 24 Hours</a></li>
							<li><a href="{% url 'response_index' '1W' %} ">Last Week</a></li>
							<li><a href="{% url 'response_index' '2W' %}">Last 2 Weeks</a></li>
							<li><a href="{% url 'response_index'%}">All</a></li>
						</ul>
					</li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'password_change' %}">Change password</a></li>
				</ul>
            </li>
            <li><a href="{% url 'wiki'%}">Wiki</a></li>
            <li><a href="{% url 'tech_logout'%}">Logout</a></li>
          </ul>
		  {% else %}
		  <ul class="nav pull-right">
            <li><a href="{% url 'tech_login'%}">Login</a></li>
			<li><a href="{% url 'password_reset'%}">Forgot Password?</a></li>
		  <ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container" id="mainContainer">
		<div id="messages">
		{% if messages %}		
				<!-- Collect them by message type, then output !-->
				{% for message in messages %}
					{% if 'success' in message.tags %}
						<div class="alert alert-success">
							<a class="close" href="#" data-dismiss="alert">x</a>
								{{ message }}
						</div>
					{% endif %}
				{% endfor %}

			{% for message in messages %}
				{% if 'error' in message.tags %}
					<div class="alert alert-error">
						<a class="close" href="#" data-dismiss="alert">x</a>
							{{ message }}
					</div>
				{% endif %}
			{% endfor %}
			
			{% for message in messages %}
				{% if 'info' in message.tags %}
					<div class="alert alert-info">
						<a class="close" href="#" data-dismiss="alert">x</a>
							{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		</div>
		{% block content %}{% endblock %}
	</div> <!-- /container -->
  </body>
  <footer class="row">
  <hr size="2" COLOR="black" />
  <div class="span12" style="text-align:right">
    <p>
    &copy; <a href="http://sts.wustl.edu">Student Technology Services</a>
    </p>
  </div>
  </footer>

</html>




