{% extends "base.html" %}
{% load BMS_extras %}
{% block content %}
    <h1 style="text-align:center">Welcome to STS's Backup Management System</h1>
	{% if not user.is_authenticated %}
	<div style="text-align:center">
	<a href="{% url 'django.contrib.auth.views.login'%}"><button class="btn btn-primary" >Login</button></a>
	</div>
	{% else %}
	<div class="firstColumn">
		<h3>Current Backup Space Usage: {{totalCurrentSpaceUsagePercentage }} Full</h3>
		<div class="progress">
			<div class="bar bar-success" style="width: {{ totalCurrentSpaceUsagePercentageSuccess }}%;"></div>
			<div class="bar bar-warning" style="width: {{ totalCurrentSpaceUsagePercentageWarning }}%"></div>
			<div class="bar bar-danger"  style="width: {{ totalCurrentSpaceUsagePercentageDanger}}%"></div>
		</div>
		<table class="table table-hover">
			<tr>
				<td>Current Number of Backups (New & In Progress):</td>
				<td>{{ numberOfCurrentBackups }}</td>
			</tr>
			<tr>
				<td>Current Usage (New & In Progress)</td>
				<td>{{ totalCurrentSpaceUsage }} GB</td>
			</tr>
			<tr>
				<td>Current Avg. Backup Size (New & In Progress)</td>
				<td>{{ avgCurrentBackupSize }} GB</td>
			</tr>
		</table>
	</div>
	<div class="secondColumn">
		<h3>All Time Statistics</h3>
		<table class="table table-hover">
			<tr>
				<td>Total Number of Backups: </td>
				<td>{{ numberOfBackups }} </td>
			</tr>
			<tr>
				<td>Total Amount of Data Backed Up: </td>
				<td>{{ totalSpaceUsage }} GB</td>
			</tr>
			<tr>
				<td>Avg. Backup Size</td>
				<td>{{ avgBackupSize }} GB</td>
			</tr>			
		</table>

	</div>
	{% endif %}
{% endblock %}
	