{% extends "base.html" %}
{% block content %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 5% auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
{% if form.errors %}
	<div class="alert alert-error">
	<h5>Your username and password didn't match. Please try again.</h5>
	</div>
{% endif %}
<form method="post" class="form-signin" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
  <h2 class="form-signin-heading">Please sign in</h2>
  <table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>
  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
</table>

<input class="btn btn-primary" type="submit" value="Login" />
<a href="{% url 'password_reset' %}">Forgot Password?</a>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
	
