{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">x</button>
	<h4>Password changed successfully.</h4>
</div>
{% endblock %}
	
