{% extends "base.html" %}
{% block content %}


<h3>Use the following form to change your password</h3>
<form method="post" class="form-horizontal" action="{% url 'django.contrib.auth.views.password_change' %}">
{% include 'BMS_App/form_snippet.html' %}
<div class="control-group">
    <div class="controls">
		<input class="btn btn-primary" type="submit" value="Change Password" /> 
    </div>
  </div>
</form>
{% endblock %}
	
