{% extends "base.html" %}
{% load BMS_extras %}
{% block content %}
	<style type="text/css">
	.anchor { padding-top: 40px; margin-top: -40px;}
	</style>
    <h1 style="text-align:center">Wiki/Help Page</h1>
	<h2>Table of Contents</h2>
	<ul>
		<li><a href="#description">Description</a></li>
			<ul>
				<li><a href="#handling">Handling Responses</a></li>
			</ul>
			<ul>
				<li><a href="#ignoring">Ignoring Backups</a></li>
			</ul>
			<ul>
				<li><a href="#updating">Updating</a></li>
			</ul>
		<li><a href="#models">Models</a></li>
			<ul>
				<li><a href="#backup">Backups</a></li>
				<li><a href="#client">Clients</a></li>
				<li><a href="#contact">Contacts</a></li>
				<li><a href="#response">Responses</a></li>
				<li><a href="#restriction">Restrictions</a></li>
				<li><a href="#email">Emails</a></li>
				<li><a href="#ignoringDirectorys">Ignoring Directory's</a></li>
                            </ul>
		<li><a href="#views">Views</a></li>
		<li><a href="#urls">URLs</a></li>
		<li><a href="#WHD">Web Help Desk API Library</a></li>
		<li><a href="#misc">Miscellaneous</a></li>
			<ul>
				<li><a href="#custom">Custom Admin Command</a></li>
				<li><a href="#syntax">Directory Syntax</a></li>
                                <li><a href="#django">Django Resources</a></li>
                                <li><a href="#directories">How to ignore a directory</a></li>
			</ul>
		<li><a href="#faq">FAQ</a></li>
	</ul>
	<hr/>
	<h3 id="description" class="anchor">Description</h3>
	<p>
		The Backup Management System is a system that automates the management of the backups on the STS backup server. The system is written in Python using 
		the <a href="https://www.djangoproject.com/">Django Framework</a>, and the source is hosted on Github (<a href="https://github.com/orpjones/BMS">link</a>). 
		Every day, a cron job scans the backup server using a custom administrator command (see <a href="#misc">Misc</a> for more info). The basic process is as follows:
		<ol>
		<li>The backup server scans all the folders in the backup server directory.</li>
			<ul>
				<li>See <a href="#misc">Misc</a> for the proper backup folder syntax.</li>
			</ul>
		<li>Upon encountering a directory the system checks to see if a backup exists for that directory.
			<ul>
				<li>If it does not exist, then the system checks to see if the client for that backup exists (it will only exist if the client has backed up something with us before).
					<ul>
						<li>If a client does not exist, then the system checks to make sure that the client's name in the Web Help Desk ticket
							matches the client's name in the folder name (it will submit a ticket telling you to fix the syntax if they don't match). It will then
                                                        create a client.
                                                        <br/>
                                                        <ul> <li>If the client's name doesn't match the ticket, or the ticket is assigned to <strong>Chris Huels</strong> it will be put into an error state and ignored. This is to combat a ticket being assigned to a tech (if a client isn't in WebHelpDesk).        
                                                            </li>
                                                            </ul>
                                                </li>
						<li>Upon selecting/creating the proper client, the system then creates the backup - using the client name and ticket number in the directory name, as well as the size of 
						the folder on the backup server. It sets the backup status to <strong>NEW</strong>.</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>Upon encountering a <strong>NEW</strong> backup:
			<ul>
				<li>
					If it is older than 14 days, its status is changed to <strong>IN PROGRESS</strong>
				</li>
				<li>
					Otherwise it is ignored.
				</li>
			</ul>
		</li>
		
		<li>Upon encountering a <strong>IN PROGRESS</strong> backup:
			<ul>
				<li>
					The system checks for any restrictions associated with the backup.
					<ul>
						<li>
							If it finds no restrictions:
							<ul>
								<li>
									It will check to make sure that the backup is not older than the maximum allowed. 
									If it is older than the maximum, the system will contact the client saying their data will be deleted,
									change the status to <strong>CLOSED</strong> and mark the backup as deletable.
								</li>
								<li>Otherwise, it will contact the client asking them to respond with either <strong>KEEP</strong> or <strong>DELETE</strong></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		
		<li>Upon encountering a <strong>CLOSED</strong> backup:
			<ul>
				<li>The system checks to see if the folder name has "DELETE" in it. If not, it appends it.</li>
			</ul>
		</li>
		</ol>
	</p>
	<h4 id="handling"  class="anchor">Handling Responses</h4>
	<p>The form for handling responses lives on a different server. A client gets an email with a link to the form and their backup's particular backup hash. When they
		visit the URL, the form allows them to choose whether they want us to keep their backup or delete it. 
		
		The form displays how old their backup is, and how many times they have been contacted. If the backup is old enough, then the form will not allow the user to
		input <strong>KEEP</strong>. The response is recorded in both the system and the WHD ticket.
	</p>
	<hr/>


	<h4 id="ignoring"  class="anchor">Ignoring Backups</h4>
	<p>If at any point you need the system to simply ignore a backup/folder then just set its status to INP and add a restriction. The backup will be ignored.
	</p>
	<hr/>

	
	<h4 id="updating"  class="anchor">Updating</h4>
	<p>This project is hosted on GitHub at <a href="https://github.com/orpjones/BMS">https://github.com/orpjones/BMS</a>.
	To update, you will to be in the project's directory. You then need to issue a pull request to GitHub as follows:
	
	<br/><br/>
	<code>git pull https://github.com/orpjones/BMS.git</code>
	<br/><br/>
	
	Important files to double check are:
	
	<ul>
		<li>httpd.conf - the configuration file for apache. Double check to make sure the paths and urls are as desired.</li>
		<li>settings.py - the settings file for the project. Double check Debug is turned off, and that the paths to the database file
		and the paths for templates, the database, etc. are correct.</li>
		<li>my.conf - the configuration file for mysql server.</li>
		<li>An important thing to note is that there are certain static files (logos, css files, etc.) that are used by the entire 
		application. The following command collects all the static files into the directory specified in the <strong>STATIC ROOT</strong>
		variable in the settings. This directory must also be specified in the httpd.conf file. By default it is /var/www/BMS/static.
			<br/>
			<code>python manage.py collectstatic</code>
		</li>
	</ul>	
	</p>
	<hr/>

	


	<h3 id="models" class="anchor">Models</h3>
	<p>These are the database tables the system uses and their respective fields.</p>
	
	<h4 id="backup" class="anchor">Backup</h4>
	<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a backup is created.</td>
		</tr>
		<tr>
			<td>Client</td>
			<td>An object from the Client table, mapped via foreign key.</td>
		</tr>
		<tr>
			<td>Web Help Desk Ticket Number</td>
			<td>The ticket number in Web Help Desk. Backup directories should contain this in the folder name.</td>
		</tr>
		<tr>
			<td>Backup Location</td>
			<td>A string representing the folder name on the backup server.</td>
		</tr>
		<tr>
			<td>Size</td>
			<td>The size of the backup in Megabytes.</td>
		</tr>
		<tr>
			<td>Hash ID</td>
			<td>A randomly generated hash that is used when a Client responds to a Contact.</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>
				<ul>
				<li><strong>New:</strong> Backup was recently seen on the backup server, is currently less than 2 weeks old.</li>
				<li><strong>In Progress:</strong> Backup is older than 2 weeks, will be contacting client and waiting for responses.</li>
				<li><strong>Closed:</strong> Backup has been marked as deleteable.</li>
				<li><strong>Error:</strong> There was an error with the backup. The client is most likely marked as inactive in Web Help Desk so we can't email them. The system will
				ignore this backup from now on.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Created</td>
			<td>A timestamp for when the backup was created.</td>
		</tr>
		<tr>
			<td>Updated</td>
			<td>A timestamp representing the last time the backup was modified. This only effects the backup's properties (not any changes to Contacts, Clients, etc.).</td>
		</tr>
	</table>
	
	
	<h4 id="client" class="anchor">Client</h4>
		<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a client is created.</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>The client's name.</td>
		</tr>
				<tr>
			<td>Created</td>
			<td>A timestamp for when the client was created.</td>
		</tr>
		<tr>
			<td>Updated</td>
			<td>A timestamp representing the last time the client was modified. This only effects the client's properties.</td>
		</tr>
	</table>
	
	
	<h4 id="contact" class="anchor">Contacts</h4>
	<p>A contact is an email sent to a Client via Web Help Desk. When the client responds a Response is created (see below).</p>
	<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a client is created.</td>
		</tr>
		<tr>
			<td>Backup</td>
			<td>A backup object from the backup table which this contact refers to.</td>
		</tr>
				<tr>
			<td>Created</td>
			<td>A timestamp for when the contact was created.</td>
		</tr>
	</table>
	
	
	<h4 id="response" class="anchor">Responses</h4>
	<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a response is created.</td>
		</tr>
		<tr>
			<td>Backup</td>
			<td>A backup object from the backup table which this response refers to.</td>
		</tr>
		<tr>
			<td>Response</td>
			<td>What the client responded. Can be either "Keep" or "Delete". 
				<ul>
					<li><strong>Keep:</strong> If the client responds 'Keep', they are required to explain why. Then, a restriction is created preventing the
						system from contacting the client for another week.</li>
					<li><strong>Delete:</strong> If the client responds 'Delete', the backup is marked as 'Closed' and a "DELETE" is appended to the folder name. The directory 
					is ignored in the future.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Justification</td>
			<td>If the client responds with keep, they are required to enter a justification/description of why they need us to hold onto the backup.</td>
		</tr>
		<tr>
			<td>Created</td>
			<td>A timestamp for when the response was created/received.</td>
		</tr>
	</table>
	
	<h4 id="restriction" class="anchor">Restrictions</h4>
		<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a restriction is created.</td>
		</tr>
		<tr>
			<td>Backup</td>
			<td>A backup object from the backup table which this response refers to.</td>
		</tr>
		<tr>
			<td>Restrict Contacts Until</td>
			<td>The date until which the system will refrain from contacting the client. Can be added manually or when a response is received.</td>
		</tr>
		<tr>
			<td>Created</td>
			<td>A timestamp for when the response was created/received.</td>
		</tr>
		<tr>
			<td>Updated</td>
			<td>A timestamp representing the last time the restriction was modified. This only effects the restriction's properties.</td>
		</tr>
	</table>
	<hr/>
	
	
	
	<h4 id="email" class="anchor">Email</h4>
		<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a restriction is created.</td>
		</tr>
		<tr>
			<td>Order</td>
			<td>The number of responses this email will be sent after. For example:
				<ul>
					<li>An order of 0 implies an email will be sent after 0 responses (i.e. first and whenever they don't respond)</li>
					<li>An order of 1 implies an email will be sent after 1 responses. The client will have responded at least once after this point.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Text</td>
			<td>The text the email contains. They are defined at the database level, and then the text to send the client is selected during the scanning of the backup server.</td>
		</tr>
	</table>
	<hr/>
	


	<h4 id="ignoringDirectorys" class="anchor">Ignore Directory's</h4>
		<table class="table table-bordered table-striped">
		<th colspan=2>Fields</th>
		<tr>
			<td>ID</td>
			<td>Primary key, auto incremented when a restriction is created.</td>
		</tr>
		<tr>
			<td>FolderName</td>
                        <td>The name of the directory that will be ignored. e.g. "Trash"</td>
		</tr>
	</table>
	<hr/>



	<h3 id="views" class="anchor">Views</h3>
	Every page of the site is a view. The main layout of the site is defined by a base template called <strong>"base.html"</strong> (located in the <strong>"BMS/templates"</strong>	 folder). This base view
	defines the header, navbar, and footer, and then has a content section. Each other view then sub-classes this base template and provides the content section. Most of the
	templates are located in the <strong>"BMS/BMS_App/templates"</strong> folder. They are used to view and modify model objects. There are also some views located in the <strong>"BMS/templates"</strong> folder
	that are not specific to certain models (for example, the login page, the password reset page, etc.)
	<hr/>
	
	
	
	
	<h3 id="urls" class="anchor">URLS</h3>
	With django, you define the matching between a view and model using the <strong>urls.py</strong> file. Most of the models are matched as <strong>/<model_name>/<id>/<view/edit/create/delete>/</strong>
	where model_name is one of (backup, client, contact, response, etc.), the id is ID in the table (for backups it uses the Web Help Desk ticket number), and the final is the action you want to do.
	Note: not all actions are available for all models. Furthermore, delete and create are usually issued through an HTTP POST request, not a GET - so visiting those actions would not work as desired.
	<br/><br/>
	Examples: 
	<ul>
		<li>http://localhost:8000/backups/44924/view/</li>
		<li>http://localhost:8000/restrictions/1/create/</li>
		<li>http://localhost:8000/clients/1/view/</li>
		<li>http://localhost:8000/clients/1/edit/</li>
	</ul>
	<hr/>
	<h3 id="WHD" class="anchor">Web Help Desk API Library</h3>
	A standalone library (filename: WebHelpDeskAPILib.py) written in python to interact with Web Help Desk using their API 
	(documentation found <a href="http://docs.webhelpdesk.com/s/library/m/6473/l/62069-latest-rest-api">here</a>). It 
	uses JSON as the data format. The library has the ability to:
	<ul>
		<li>Get a tickets details (in JSON)</li>
		<li>Create a ticket</li>
		<li>Add a note to a ticket</li>
		<li>Email a note to a ticket</li>
		<li>Determine whether a client is inactive (WHD refuses to email clients who are inactive)</li>
		<li>Verify a client's name in a directory is the same as the client in the ticket</li>
	</ul>
	Whenever a client is contacted, it is via Web Help Desk. The system will also note whenever it changes the status of a backup.
	<hr/>
	<h3 id="misc" class="anchor">Misc</h3>	
	<h4 id="custom" class="anchor">Custom Admin Command</h4>
	<p>The custom admin command is what scans through the backup server and processes the directories. More on custom admin commands can be found 
	<a href="https://docs.djangoproject.com/en/dev/howto/custom-management-commands/">here</a>.
	It is located at <strong>BMS_App/management/commands/update_backups.py</strong>. 
	It is run by a cron job. The basic syntax to run it manually is: 
	<br/><br/>
	<code>python manage.py update_backups</code>
	<br/><br/>
	Note: You must be in the project's directory (i.e. <strong>/BMS</strong>) to be able to have access to the manage.py file.
	</p>
	<h4 id="syntax" class="anchor">Directory syntax</h4>
	<p>A backup directory has to have the following syntax:
	<br/><br/><code>FirstName LastName-TicketNumber-...</code>.
	<br/><br/>
	The system will use the first number it encounters as the ticket number, and everything before that as the client's name. Everything after
	the first number will be ignored, so it is possible to append things like <strong>IN PROGRESS</strong> or <strong>DELETE</strong> to the end.
	</p>
        <hr/>
        <h4 id="directories" class="anchor">How to ignore a directory</h4>
        <p>To ignore a directory while scanning the backup folder, simply add a ignore directory object from the admin console.</p>
	<hr/>
	<h4 id="django" class="anchor">Django Resources</h4>
	The best place to start with Django is using their tutorial (which is pretty good) found <a href="https://docs.djangoproject.com/en/1.5/intro/tutorial01/">here</a>.
	<h3 id="faq" class="anchor">FAQ</h3>
	<ul>
		<li>Where is the retention policy set? (i.e. 14 days for backup, 35 for max)?
			<ul>
			<li>It is set in the <strong>BMS_APP/settings.py</strong> file.</li>
			</ul>
		</li>
	</ul>
{% endblock %}
	
